= content_for :page_title, "Local Authority Type Register"

%h1.heading-xlarge Manage Register

%h4.heading-medium Choose a local authority type to update

%table
  %thead
    %tr
      %th Local Authority Type
      %th Name
      %th

  %tbody
    - @local_authority_types.each do |local_authority_type|
      %tr
        %td= link_to local_authority_type.code, local_authority_type_path(local_authority_type)
        %td= local_authority_type.name
        %td= link_to 'Update', edit_local_authority_type_path(local_authority_type)
