= content_for :page_title, "Local Authorities Type Register"

%h1.heading-large Local Authorities Type Register

%table
  %thead
    %tr
      %th Local Authority Type
      %th Name
      %th

  %tbody
    - @local_authority_types.each do |local_authority_type|
      %tr
        %td= local_authority_type.code
        %td= local_authority_type.name
        %td= link_to 'Update', edit_local_authority_type_path(local_authority_type)
