= content_for :page_title, 'Success'

.grid-row
  .column-two-thirds
    .govuk-box-highlight
      %h2.bold-large All updates have been submitted
      %p You'll recieve a confirmation email once the changes are live

= link_to "Go back to Dashboard", local_authority_types_path
