%table.change-table
  %thead
    %tr
      %th Field
      %th Current value
      %th New value
  %tbody
    - @register.fields.each do |field|
      %tr
        %td
          = field
        - if !@current_register_record.nil?
          %td
            - if @current_register_record[field].present?
              = @current_register_record[field]
            - elsif @new_register_record[field]
              %span.no-data-found No previous data
          - if !(@current_register_record[field] == nil && @new_register_record[field] == '')
            - if @current_register_record[field] != @new_register_record[field]
              %td
                %span.panel.panel-change-notification
                  = @new_register_record[field]
            - else
              %td
          - else
            %td
              %span.no-data-found No original data
        - else
          %td
            - if @new_register_record[field].present?
              %span.no-data-found No original data
          %td
            - if @new_register_record[field].present?
              %span.panel.panel-change-notification
                = @new_register_record[field]
