= content_for :page_title, 'Home'

%h1.heading-xlarge Manage registers

%h5.heading-medium Choose a register

= form_for "register", url: select_register_path do |f|
  = f.radio_button_fieldset :register, choices: ["country", "territory", "local_authority_type", "local_authority_eng"]
  .form-group
    = submit_tag "Continue", class: "button"

- content_for :javascript do
  :javascript
    jQuery(function($) {
      $("input[name='register[register]']:first").attr("checked", true)
    });
