= content_for :page_title, 'Home'

%h1.heading-xlarge= current_user.email

%h3.heading-medium Available registers
%ul
  %li= link_to "Country register", countries_path
  %li= link_to "Territory register", territories_path
