= content_for :page_title, 'Home'

%h1.heading-large Registers

- if current_user.admin?
  %ul.browse-list
    - @registers.each do |register|
      %li.browse-list-item
        = link_to prepare_register_name(register.key), register.key, class: 'browse-list-link'
- else
  - current_user.team_members.each do |team_member|
    %h5.heading-small.heading-light
      - if team_member.team.custodian == current_user
        Your Team
      - else
        #{team_member.team.custodian.full_name}'s Team
    %ul.browse-list
      - @registers.select{ |r| team_member.team.registers.include? r.key }.each do |register|
        %li.browse-list-item
          = link_to prepare_register_name(register.key), register.key, class: 'browse-list-link'
