= content_for :page_title, 'Home'

%h1.heading-large Registers

- if current_user.admin?
  %ul.browse-list
    - @registers.each do |register|
      %li.browse-list-item
        = link_to prepare_register_name(register.key), register.key, class: 'browse-list-link'
- else
  - current_user.teams.each do |team|
    %h5.heading-small.heading-light
      - if team.custodian == current_user
        Your Team
      - else
        #{team.custodian.full_name}'s Team
    %ul.browse-list
      - team.registers.each do |register|
        %li.browse-list-item
          = link_to prepare_register_name(register.key), register.key, class: 'browse-list-link'
