= content_for :page_title, "Territory Register"

%h1.heading-xlarge Manage Register

%h4.heading-medium Choose a territory to update

%table
  %thead
    %tr
      %th Territory
      %th Official name
      %th

  %tbody
    - @territories.each do |territory|
      %tr
        %td= link_to territory.code, territory_path(territory)
        %td= territory.official_name
        %td= link_to 'Update', edit_territory_path(territory)
