= content_for :page_title, 'Success'

.grid-row
  .column-two-thirds
    .govuk-box-highlight
      %h2.bold-large Your changes to the territory register have been submitted
      %p You'll recieve and email a confirmation email once the changes are live.

= link_to "Go back to Dashboard", territories_path
