// Import GOV.UK frontend toolkit
@import "govuk-elements";
@import "header-tweaks";

// Override table font size
table td,
table th {
  font-size: 16px;
}

// Override purple colour
a:visited {
  color: $govuk-blue;
}
