<h3><%= t("devise.mailer.invitation_instructions.hello", full_name: @resource.invited_by.full_name, register_name: @resource.team_members.first.team.registers.join(', ')) %></h3>

<p>You have been given permissions to:</p>

<% if @resource.team_members.first.role == "advanced" || @resource.team_members.first.role == "custodian" %>
  <ul>
    <li>Manage team members</li>
    <li>Can the user really publish in real-time</li>
    <li>Change records</li>
  </ul>
<% elsif @resource.team_members.first.role == "basic" %>
  <ul>
    <li>Change records</li>
  </ul>
<% end %>

<p>Open this link to create an account on the Manage Registers platform:</p>

<p><%= link_to accept_invitation_url(@resource, :invitation_token => @token), accept_invitation_url(@resource, :invitation_token => @token) %></p>

<% if @resource.invitation_due_at %>
  <p><%= t("devise.mailer.invitation_instructions.accept_until", due_date: l(@resource.invitation_due_at, format: :'devise.mailer.invitation_instructions.accept_until_format')) %></p>
<% end %>

<p><%= t("devise.mailer.invitation_instructions.accept_until", register_name: @resource.team_members.first.team.registers.join(', '))) %></p>
